/* src/Chatbot.css */

.chat-box {
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.user {
  text-align: right;
  margin: 5px;
  color: #ed5418;
  font-size: 1.5rem;
  font-weight: 600;
}

.bot {
  text-align: left;
  margin: 5px;
  padding-right: 50px;
  color: #d7dfe1;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
}
